{% if node_type == "MASTER_NODE" %}
#!/bin/bash

# Commands for MASTER_NODE
/usr/local/bin/k3s-killall.sh
/usr/local/bin/k3s-uninstall.sh
{% elif node_type == "WORKER_NODE" %}
#!/bin/bash

# Commands for WORKER_NODE
/usr/local/bin/k3s-killall.sh
/usr/local/bin/k3s-agent-uninstall.sh
{% endif %}
