# playbooks/run_other_master.yml

---
- hosts: all_active_machines
  remote_user: root
  become: true

  tasks:
    - name: APT Package Updater
      apt:
        upgrade: yes
        update_cache: yes
