---
# start_worker_node_in_k3s_cluster.yml

- name: Execute create_k3s_worker_node.sh commands on worker_nodes as root
  hosts: worker_nodes
  become: true
  tasks:
    - name: Run commands from create_k3s_worker_node.sh
      shell: "bash /opt/k3s/create_k3s_worker_node.sh"
